.joinGamePopup {
  position: absolute;
  z-index: 1;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.joinGamePopup > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px 5px #00000088;
  padding: 1em;
}

.joinGamePopup svg {
  margin: 1em;
}

.container {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.container > div {
  aspect-ratio: 2 / 1;
  display: grid;
  justify-content: stretch;
  align-items: stretch;
}

.container canvas {
  aspect-ratio: 2 / 1;
  touch-action: none;
}
